<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RecuperAndes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="contenedor">
    <h1>RecuperAndes</h1>
    <p>Encuentra tus objetos perdidos fácilmente<br>de un solo clic.</p>
    
    <a href="{{ url_for('mostrar_galeria') }}" class="boton">Galería de objetos</a>
    <a href="{{ url_for('mostrar_formulario_reportar') }}" class="boton">Reportar objeto perdido</a>
    <a href="{{ url_for('mostrar_formulario_registro') }}" class="boton">Registrarme para recibir alertas</a>
  </div>
</body>
</html>
